/* VARIABLES */
/* BASE */
html,
body {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  line-height: 1.4;
  height: 100%;
  margin: 0;
  padding: 0;
}

p{
  margin-top: 15px;
}

.blog-main .row {
  display: flex;
  margin-right: 0px;
  margin-left: 0px;
}

.content{
  width: 100%;
  margin: 0 auto;
}

.dotted-title, .image-holder {
  border-bottom: dotted;
}

.image-holder{
  padding: 0px;
}

.image-holder .row {
    height: 100px;
}

.info{
  background: #CCCCCC;
}

.main-info{
  margin-bottom: 40px;
}

.main-today{
  margin-top: 20px;
  margin-bottom: 40px;
}

.main-today img{
  position: relative;
  width: 100%;
  padding: 10px 20px;
  margin: 0px auto;
}

.navbar-header{
  width: 75%;
  margin: 0 auto;
}

.question{
  border-bottom: dotted;
}

.search *{
  margin-right: 15px;
  background: #EEEEEE;
}

.slide-bottom-change{
  padding-top: 20px;
  margin-top: 20px;
  position: absolute;
  width: 90%;

  bottom: 0;
}

.social{
  background: #BBBBBB;
  text-align: center;
}

.today-events{
  padding: 10px;
  margin-right: 20px;
  background: #DDCC11;
}

.today-deals {
  padding: 10px;
  background: #DDCCFF;
}



