/* VARIABLES */
/* BASE */
html, body, ul{
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  line-height: 1.4;
  height: 100%;
  margin: 0;
  padding: 0;
}

a{
  color: #DA7833
}

body{
  background: #ECE9E1;
  color: #444444;
}

div, section{
  border-radius: 5px;
}

h3{
  font-size: 20px;
}

img.mini-profile-photo.col-sm-4 {
  margin: 10px 0;
  padding-left: 0px;
}

nav.navbar.navbar-default, p{
  margin: 0px;
}

nav.navbar.navbar-default {
  background: #32271E;
}

.btn-twitter {
  background: #00ACEE;
  border-radius: 5px;
  color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #0075a2;
}

.btn-twitter:link, .btn-twitter:visited {
  color: #fff; 
}
.btn-twitter:active, .btn-twitter:hover {
  background: #0075a2;
  color: #fff; 
}

.blog-main{
  padding-top: 20px;
  margin-top: 0px;
  background: #FFFFFF;
}

.blog-main .row {
  display: flex;
  margin-right: 0px;
  margin-left: 0px;
}

.content{
  width: 100%;
  margin: 0 auto;
}

.discussions .question:first-child{
  border-bottom: dashed;
  border-width: 1px;
  border-color: #AAAAAA;
}

.dashed-title, .image-holder {
  border-bottom: dashed;
  border-width: 1px;
  border-color: #AAAAAA;
}

.image-holder{
  padding: 0px;
}

.image-holder .row {
    height: 100px;
}

.info{
  background: #CCCCCC;
}

.main-info{
  margin-bottom: 90px;
}

.main-today{
  margin-top: 20px;
  margin-bottom: 40px;
  border-radius: 5px;
}

.main-today img{
  position: relative;
  width: 100%;
  padding: 10px 20px;
  margin: 0px auto;
}

.navbar-header{
  width: 75%;
  margin: 0 auto;
}

.place{
  height: 100px;
  margin-top: 20px;
}

.places{
  margin-bottom: 40px;
}

.places .row{
  margin-top: 20px;
}

.question{
  border-bottom: dashed;
  border-width: 1px;
  border-color: #AAAAAA;
  padding: 20px;
}

.question p{
  font-size: 12px;
}

.search, .search *{
  border-radius: 5px;
}

.search *{
  margin-right: 15px;
  background: #EEEEEE;
}

.search .row {
    background: #ECEBEA;
    padding: 10px;
}

.selections{
  margin: 10px;
}

.selections a {
  padding: 0 15px;
}

.selections a:first-child{
  border-right: solid;
}

.sidebar-module-inset ul a{
  color: #444444
}

.sidebar-module-inset ul:first-child{
  border-bottom: dashed;
  border-width: 1px;
  border-color: #AAAAAA;
}

.sidebar-module-inset ul li{
 list-style: none;
 font-size: 16px;
  border-bottom: dashed;
  border-width: 1px;
  border-color: #AAAAAA;
 padding: 15px 0px 15px 60px;
}

.sidebar-module-inset ul li:hover{
 list-style: none;
 font-size: 16px;
 border-bottom: dashed;
 border-width: 1px;
 border-color: #000000;
 padding: 15px 0px 15px 75px;
 background: #DDDDDD;
 cursor:pointer
}

.sidebar-module-inset ul #home-list {
  background: url('img/list-icons/clock-icon.png') no-repeat;
  background-position: 7px center;
}

.slide-bottom-change{
  margin-top: 200px;
  position: absolute;
  width: 100%;
  border-bottom: dashed;
  border-width: 1px;
  border-color: #AAAAAA;
  padding-right: 60px; 
  bottom: 0;
}

.social{
  padding: 2px 20px 12px 20px;
  margin: 25px auto;
  background: #cccccc;
  text-align: center;
  border-radius: 5px;
}

.today-events{
  padding: 10px;
  margin-right: 20px;
  background: #DDCC11;
}

.today-deals {
  padding: 10px;
  background: #DDCCFF;
}